

 .div-control {
   padding-top: 10px;
 }

 .beautiful-heading {
   background-color:#0000b3;
   color: white;
   padding: 15px 20px;
   border-radius: 12px;
   text-align: center;
   font-family: 'Arial', sans-serif;
   font-size: 24px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
 }
